.arrow {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    height: 6rem;
    top: 50%;
}

.arrowLeft {
    transform: rotate(-90deg);
    @extend .arrow;
    right: 3rem;
}

.arrowRight {
    transform: rotate(90deg);
    @extend .arrow;
    left: 3rem;
}